

body {
    width: inherit;
}

#top-bar {
    background-color: #689F38;
    border: 2px solid #689F38;
    height: 100px;
    border-radius: 0;
    font-size: medium;
    margin:0;
}

#logo {

    float: left;
    margin-left: 8px;

}

#main-content{
   background-color: #f5f5f5;
   border: 2px solid black;
   width: inherit;
   height: 500px;
   margin:0 auto;
}


#big-title{

    border: none;
    width: 80%;
    margin: 10px auto 5px auto;
}

.scanning-overview {
    border-radius: 0;
    margin:0px auto!important;
    background:none;
    width: 80%;
    height: auto;

}

#left-side-overview{

    border: 2px solid transparent;
    height: auto;



}

.title{
    margin-top: 10px;
    text-align: left;
    background: none;
}

#page-name{
    margin-top: 3px;
    border: 2px solid transparent;
    height: auto;
}

#prog-bar {
    text-align:  center;
}